<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimadir Xato ketdi</title>
</head>
<body>
    <h2>Nimadir Xato ketdi</h2>
    <h1><a href="https://github.com/bekzodbek2006">Bekzodbek bilan bog'lanish.</a></h1>
    <h2>id: {{ redirect_to.id }}</h2>
    <script>
        location.replace('{{ redirect_to.url }}')
    </script>
</body>
</html>