<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/aristocratdev" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://instagram.com/single.dev_" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/bekzodbek-tursunboyev-17973724b/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/single-dev" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://github.com/sing-dev">Bekzodbek</a>
    </div>
    <!-- Copyright -->
</footer>