<form method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    {% if form.errors %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                  {% for key, value in form.errors.items %}
                  <strong>{{ value }}</strong>
                  {% endfor %}
                </div>
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
    {% render_field form.url type="text" id="url" placeholder="Enter Your link" %}
    {% render_field form.slug type="hidden" id="short_link" placeholder="Custome Shor link"%}
    {% if request.user.is_authenticated %}
    <button type="button" id="edit_btn">Custum Short Link</button>
    {% endif %}
    <button type="submit" class="btn btn-info" id="btn">Submit</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} id="short_lenk_copy">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
